---
import Console from "../Console.astro";
---

<div class="section-wrapper special">
  <video autoplay muted loop playsinline>
    <source src="/assets/bgd.mp4" type="video/mp4" />
  </video>
  <section id="hero">
    <Console />
  </section>
</div>
