---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Page not found">
  <section class="top"></section>
  <section>
    <style>
      div.console {
        text-align: center;
      }
    </style>
    <div class="console">
      <h2 class="hero">404</h2>
      <p>Page not found...</p>
      <div class="button"><a href="/">go back</a></div>
    </div>
  </section>
</BaseLayout>
