<svg id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141.73 144.42">
  <title id="Ebene_2-title">Mobile icon</title>
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
      }
    </style>
  </defs>
  <g id="EXPORT">
    <g>
      <path class="cls-1" d="M76.59,144.34c-19.07.79-36.2-4.16-51.01-16.46C11.08,115.83,2.01,97.65.32,78.93c-1.74-19.27,3.72-38.79,16.24-53.69C29.33,10.05,46.69,1.87,66.3.25c16.79-1.6,34.53,4.64,47.67,14.89.47.36.93.73,1.38,1.1.46.37.91.75,1.36,1.14.45.39.89.78,1.33,1.17.44.4.87.8,1.3,1.2.43.41.85.82,1.27,1.24.42.42.83.84,1.24,1.27.41.43.81.86,1.21,1.3.4.44.79.88,1.17,1.33.39.45.77.9,1.14,1.35.38.46.74.92,1.11,1.38.36.47.72.93,1.07,1.41.35.47.7.95,1.04,1.43.34.48.67.97,1,1.46.33.49.65.99.97,1.48.32.5.63,1,.93,1.51s.6,1.02.89,1.53c.29.51.58,1.03.85,1.55.28.52.55,1.04.82,1.57.27.53.52,1.06.78,1.59.25.53.5,1.07.74,1.61.24.54.47,1.08.7,1.63.23.55.44,1.09.66,1.64.21.55.42,1.1.62,1.66.2.56.39,1.11.58,1.68.19.56.36,1.12.53,1.69.17.56.34,1.13.49,1.7.16.57.31,1.14.45,1.71.14.57.28,1.15.41,1.72.13.58.25,1.15.37,1.73.11.58.22,1.16.32,1.74.1.58.19,1.16.28,1.75.09.58.17,1.17.24,1.76.07.6.14,1.19.2,1.79.06.6.11,1.2.15,1.8.04.6.08,1.2.11,1.8.03.6.05,1.2.07,1.8.01.6.02,1.2.02,1.8,0,.6,0,1.2-.02,1.8-.01.6-.04,1.2-.07,1.8-.03.6-.07,1.2-.11,1.8-.04.6-.09,1.2-.15,1.8-.06.6-.12,1.19-.2,1.79-.07.6-.15,1.19-.24,1.79-.09.59-.18,1.19-.28,1.78-.1.59-.21,1.18-.33,1.77s-.24,1.18-.37,1.76c-.13.59-.27,1.17-.41,1.75-.14.58-.3,1.16-.45,1.74-.16.58-.32,1.16-.5,1.73-.17.58-.35,1.15-.54,1.72-.19.57-.38,1.14-.58,1.71-.2.57-.41,1.13-.62,1.69-.21.56-.43,1.12-.66,1.67-.23.56-.46,1.11-.7,1.66-.24.55-.49,1.1-.74,1.64-.25.54-.52,1.08-.78,1.62-.27.54-.54,1.07-.82,1.6-.28.53-.57,1.06-.86,1.58-.29.52-.59,1.04-.9,1.56-.31.52-.62,1.03-.94,1.54-.32.51-.64,1.01-.97,1.52-.33.5-.67,1-1.01,1.49-.34.49-.69.98-1.05,1.47-.35.48-.72.96-1.08,1.44-12.82,16.38-29.44,24.41-49.76,26.96ZM47.25,22.66c-1.76,1.15-2.84,2.02-3.29,4.14-.79,3.7-.3,8.32-.3,12.11l.03,22.56.02,37.18c0,6.61-.3,13.38.09,19.98.08,1.38.24,2.4,1.02,3.55,1.09,1.61,2.48,1.78,4.3,2.06,6.92,1.09,16.44.41,23.62.44,7.94.03,16.51.71,24.39-.1,1.73-1.22,2.83-2.27,3.19-4.42.8-4.72.35-10.1.34-14.89l-.06-27.12-.06-32.93c0-5.4.4-11.04-.02-16.41-.12-1.59-.33-3.27-1.34-4.56-1.07-1.37-1.97-1.54-3.65-1.67-7.28-.54-14.91-.05-22.23-.02-8.65.04-17.42-.3-26.05.1Z"/>
      <path class="cls-1" d="M46.75,105.01l-.09-73.32,50.93.08.11,73.38c-8.89-.1-17.78.22-26.67.24-8.09.02-16.19-.27-24.28-.37Z"/>
      <path class="cls-1" d="M77.51,116.28c-3.27.43-9.71,1.21-12.62-.59-.77-.48-1.32-1.08-1.45-1.98-.24-1.59.72-3.02,1.67-4.19,3.31-.2,10.49-1.04,13.16,1.04.61.47,1.09,1.09,1.08,1.89,0,1.54-.83,2.75-1.83,3.83Z"/>
    </g>
  </g>
</svg>
